/* responsive */
@media only screen and (max-width: 992px) {
  .bangladesh {
    flex-direction: column;
    gap: 70px;
  }
  .bangladesh-content {
    text-align: center;
  }
  .pillars .card-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .future .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .satellite-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .all-satellite .alternate {
    flex-direction: column;
  }
}
@media only screen and (max-width: 576px) {
  .pillars .card-container {
    grid-template-columns: 1fr;
  }
  .future .card-container {
    grid-template-columns: 1fr;
  }
  .satellite-content-img img {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .matter table,
  th {
    padding: 8px;
  }
  .matter table,
  td {
    padding: 6px;
  }
}
@media only screen and (max-width: 360px) {
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
}
