/* responsive */
@media only screen and (max-width: 992px) {
  .bangladesh {
    flex-direction: column;
    gap: 70px;
  }
  .bangladesh-content {
    text-align: center;
  }
  .pillars .card-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .future .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .satellite-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .all-satellite .alternate {
    flex-direction: column;
  }
  .donate .form-content {
    display: flex;
  }
  .donate .form-card {
    padding: 40px;
  }
}
@media only screen and (max-width: 780px) {
  .donate .form-card {
    padding: 20px;
  }
}
@media only screen and (max-width: 620px) {
  .donate .form-card {
    padding: 10px;
  }
  .donate .form-content {
    gap: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .pillars .card-container {
    grid-template-columns: 1fr;
  }
  .future .card-container {
    grid-template-columns: 1fr;
  }
  .satellite-content-img img {
    width: 100%;
  }
  .donate h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .subscribe input[type="search"] {
    padding: 17px 20px;
  }
  .subscribe input[type="submit"] {
    padding: 17px 20px;
  }
}
@media only screen and (max-width: 414px) {
  .matter table,
  th {
    padding: 8px;
  }
  .matter table,
  td {
    padding: 6px;
  }
}
@media only screen and (max-width: 390px) {
  .subscribe input[type="search"] {
    padding: 17px 8px;
  }
  .subscribe input[type="submit"] {
    padding: 17px 8px;
  }
}
@media only screen and (max-width: 360px) {
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .donate h2 {
    font-size: 1rem;
  }
}
