/* google font */
.fira-sans-font {
  font-family: "Fira Sans", sans-serif;
}

/* reset style */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* shard style */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
}
:root {
  /* colors */
  --light-blue: #c6e4d6;
  --near-black: #0e0e0e;
  --light-dark-30: rgba(14, 14, 14, 0.3);
  --light-dark-50: rgba(14, 14, 14, 0.5);
  --light-dark-60: rgba(14, 14, 14, 0.6);
  --light-dark-70: rgba(14, 14, 14, 0.7);
  --light-dark-80: rgba(14, 14, 14, 0.8);

  /* font-size */
  --font-16: 1rem;
  --font-18: 1.08rem;
  --font-20: 1.2rem;
  --font-32: 1.92rem;
  --font-40: 2.4rem;

  /* font-weight */
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.primary-btn {
  background-color: #006a50;
  border-radius: 8px;
  padding: 17px 34px;
  color: #ffffff;
  font-size: var(--font-18);
  font-weight: var(--fw-semibold);
  line-height: auto;
  border: none;
  cursor: pointer;
}
.secondary-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: var(--font-16);
  font-weight: var(--fw-semibold);
  line-height: auto;
  cursor: pointer;
}

/* header-section */
.navbar {
  padding: 31px 0;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-brand {
  font-weight: var(--fw-bold);
  font-size: var(--font-32);
  color: var(--near-black);
  line-height: auto;
}
.navbar .navbar-btn {
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  background-color: transparent;
  color: #006a50;
  font-size: var(--font-18);
  font-weight: var(--fw-semibold);
  line-height: auto;
  cursor: pointer;
}

/* bangladesh-section */
.bangladesh {
  margin-top: 120px;
  background-color: var(--light-blue);
  padding: 120px 20px;
  border-radius: 24px;
  align-items: center;
  margin-bottom: 80px;
}
.bangladesh-content {
  max-width: 622px;
}
.bangladesh .subtitle {
  color: var(--light-dark-50);
  font-size: 1.44rem;
  font-weight: 500;
  line-height: auto;
  margin-bottom: 16px;
}
.bangladesh .title {
  color: var(--near-black);
  font-size: 3.36rem;
  font-weight: var(--fw-bold);
  line-height: auto;
  margin-bottom: 24px;
}
.bangladesh-img img {
  width: 100%;
}

/* pillars-section */
.pillars .pillars-title {
  color: var(--near-black);
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
  line-height: auto;
  text-align: left;
}
.pillars .card-container {
  margin-top: 32px;
  margin-bottom: 80px;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}
.pillars .card {
  max-width: 302px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.pillars img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.pillars .card-title {
  color: var(--light-dark-80);
  font-size: var(--font-20);
  font-weight: var(--fw-bold);
  line-height: auto;
  margin-bottom: 12px;
}
.pillars .card-text {
  color: var(--light-dark-70);
  font-size: var(--font-16);
  font-weight: var(--fw-regular);
  line-height: 24px;
}

/* future-section */
.future {
  margin-bottom: 80px;
}
.future .future-title {
  color: var(--near-black);
  font-size: var(--font-40);
  font-weight: var(--fw-bold);
  line-height: auto;
  margin-bottom: 24px;
}
.future .future-text {
  color: var(--light-dark-70);
  font-size: var(--font-16);
  font-weight: var(--fw-regular);
  line-height: 24x;
  margin-bottom: 32px;
}
.future .card-container {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.future .card {
  max-width: 410px;
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
  border-radius: 16px;
}
.future img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.future .card-title {
  color: var(--light-dark-80);
  font-size: var(--font-20);
  font-weight: var(--fw-bold);
  line-height: auto;
  margin-bottom: 12px;
}
.future .card-text {
  color: var(--light-dark-70);
  font-size: var(--font-16);
  font-weight: var(--fw-regular);
  line-height: 24px;
  margin-bottom: 24px;
}
.future .future-btn1 {
  background-color: #5490f5;
}
.future .future-btn2 {
  background-color: #09a15c;
}
.future .future-btn3 {
  background-color: #ffc239;
}
.future .advisor {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: #ffffff;
  border-radius: 16px;
  padding: 48px 24px;
}
.advisor .lecture {
  color: var(--light-dark-80);
  font-size: var(--font-16);
  font-weight: var(--fw-regular);
  line-height: 24px;
  margin-bottom: 12px;
}
.advisor .person {
  color: var(--light-dark-80);
  font-size: var(--font-20);
  font-weight: var(--fw-semibold);
  line-height: 24px;
  margin-bottom: 4px;
}
.advisor .qualification {
  color: var(--light-dark-60);
  font-size: var(--font-16);
  font-weight: var(--fw-regular);
  line-height: 24px;
}
